body {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    padding: 0em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0px;
    border-bottom: none;
    background-color: #00b0f0;
    background-image: -webkit-radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
    background-image: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95));
  }
  
  .text {
    box-sizing: border-box;
    /*color: rgb(255, 255, 255);*/
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: 900;
    height: auto;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    text-transform: none;
    width: auto;
    z-index: 10000;
  }

  .text a, .text.primary{
    color: #00b0f0;
    font-weight: 700;
  }

  .text.secundary{
    color: #bcbcbc;
    font-weight: 400;
  }

  .networks i{
      font-size: 30px; 
      line-height: 50px; 
      width: 50px; 
      height: 50px; 
      background: rgb(153,153,153); 
      border-radius: 50%; 
      margin: 5px;
  }

  .networks i:hover{
      background: #00b0f0; 
  }

  body .grid {
    margin: 0em;
    padding: 15rem 0em;
  }
  
  .following.bar,
  body {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -ms-transition: background-color 3s ease-in-out 2s;
    -moz-transition: background-color 3s ease-in-out 2s;
    -webkit-transition: background-color 3s ease-in-out 2s;
    transition: background-color 3s ease-in-out 2s;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
  }
  
  .following.bar iframe.github {
    margin-top: 0px;
  }
  
  .pushed body,
  .pushed .following.bar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .colored.following.bar,
  body.colored {
    -webkit-animation-name: colors;
    -moz-animation-name: colors;
    -o-animation-name: colors;
    animation-name: colors;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 120s;
    -moz-animation-duration: 120s;
    -ms-animation-duration: 120s;
    -o-animation-duration: 120s;
    animation-duration: 120s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  body:after {
    position: absolute;
    z-index: 1;
    width: 150%;
    height: 150%;
    top: 0px;
    left: 0px;
    content: '';
    background: url(/img/semantic-ui.png);
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-name: splash;
    -moz-animation-name: splash;
    -o-animation-name: splash;
    animation-name: splash;
    -ms-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    -moz-transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    transition: opacity 3s ease-in-out, transform 5s ease-in-out;
    opacity: 0.06;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -ms-animation-duration: 15s;
    -o-animation-duration: 15s;
    animation-duration: 15s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
    -moz-transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
    transform: rotateX(50deg) rotateZ(0deg) rotateY(0deg) translateY(-14%) translateX(-14%) translateZ(370px);
  }
  
  .fixed.following.bar {
    background-image: none;
  }
  
  .fixed.following.bar {
    position: fixed;
    top: 0px;
    padding: 1em 0em;
    background-color: #FFFFFF;
  }
  
  .fixed.light.following.bar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  }
  
  @keyframes splash {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% -475px;
    }
  }
  
  @-moz-keyframes splash {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% -475px;
    }
  }
  
  @-webkit-keyframes splash {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% -475px;
    }
  }
  
  @-ms-keyframes splash {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% -475px;
    }
  }
  
  @-o-keyframes splash {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% -475px;
    }
  }
  
  @keyframes colors {
    0% {
      background-color: #00B5AD;
    }
    12% {
      background-color: #3B83C0;
    }
    25% {
      background-color: #E07B53;
    }
    37% {
      background-color: #D9499A;
    }
    50% {
      background-color: #564F8A;
    }
    62% {
      background-color: #F2C61F;
    }
    75% {
      background-color: #D95C5C;
    }
    87% {
      background-color: #5BBD72;
    }
    100% {
      background-color: #F2C61F;
    }
  }
  
  @-moz-keyframes colors {
    0% {
      background-color: #00B5AD;
    }
    12% {
      background-color: #3B83C0;
    }
    25% {
      background-color: #E07B53;
    }
    37% {
      background-color: #D9499A;
    }
    50% {
      background-color: #564F8A;
    }
    62% {
      background-color: #F2C61F;
    }
    75% {
      background-color: #D95C5C;
    }
    87% {
      background-color: #5BBD72;
    }
    100% {
      background-color: #F2C61F;
    }
  }
  
  @-webkit-keyframes colors {
    0% {
      background-color: #00B5AD;
    }
    12% {
      background-color: #3B83C0;
    }
    25% {
      background-color: #E07B53;
    }
    37% {
      background-color: #D9499A;
    }
    50% {
      background-color: #564F8A;
    }
    62% {
      background-color: #F2C61F;
    }
    75% {
      background-color: #D95C5C;
    }
    87% {
      background-color: #5BBD72;
    }
    100% {
      background-color: #F2C61F;
    }
  }
  
  @-ms-keyframes colors {
    0% {
      background-color: #00B5AD;
    }
    12% {
      background-color: #3B83C0;
    }
    25% {
      background-color: #E07B53;
    }
    37% {
      background-color: #D9499A;
    }
    50% {
      background-color: #564F8A;
    }
    62% {
      background-color: #F2C61F;
    }
    75% {
      background-color: #D95C5C;
    }
    87% {
      background-color: #5BBD72;
    }
    100% {
      background-color: #F2C61F;
    }
  }
  
  @-o-keyframes colors {
    0% {
      background-color: #00B5AD;
    }
    12% {
      background-color: #3B83C0;
    }
    25% {
      background-color: #E07B53;
    }
    37% {
      background-color: #D9499A;
    }
    50% {
      background-color: #564F8A;
    }
    62% {
      background-color: #F2C61F;
    }
    75% {
      background-color: #D95C5C;
    }
    87% {
      background-color: #5BBD72;
    }
    100% {
      background-color: #F2C61F;
    }
  }